{% extends 'base.html' %}

{% block title %}Tolet | Edit Property{% endblock %}

{% block add-css %}
	{% load static %}
{% endblock %}

{% block main %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<h3 class="font-weight-bold text-center">Edit Property</h3>
			</div>
		</div>

		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-row">
				<div class="col-md-6">
					<span style="font-size: 1rem; color: #212121;">Cover Image</span>
					<div class="md-form form-sm">
						{{ form.main_photo }}
					</div>
				</div>	
				<div class="col-md-6">
					<span style="font-size: 1rem; color: #212121;">Image 1</span>
					<div class="md-form form-sm">
						{{ form.sub_photo_1 }}
					</div>
				</div>	
			</div>
			<div class="form-row">
				<div class="col-md-4">
					<span style="font-size: 1rem; color: #212121;">Image 2</span>
					<div class="md-form form-sm">
						{{ form.sub_photo_2 }}
					</div>
				</div>	
				<div class="col-md-4">
					<span style="font-size: 1rem; color: #212121;">Image 3</span>
					<div class="md-form form-sm">
						{{ form.sub_photo_3 }}
					</div>
				</div>	
				<div class="col-md-4">
					<span style="font-size: 1rem; color: #212121;">Image 4</span>
					<div class="md-form form-sm">
						{{ form.sub_photo_4 }}
					</div>
				</div>			
			</div>

			<div class="form-row">
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.house_name }}
						<label for="id_house_name">Property Name</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.location }}
						<label for="id_location">Location</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.owner }}
						<label for="id_owner">Property Owner</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.phone }}
						<label for="id_phone">Phone</label>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-6">
					<div class="md-form form-sm">
						{{ form.description }}
						<label for="id_description">Description</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="md-form form-sm">
						{{ form.conditions }}
						<label for="id_conditions">Conditions</label>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.price }}
						<label for="id_price">Price</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.size }}
						<label for="id_size">Size (sq/ft)</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.bedrooms }}
						<label for="id_bedrooms">Bedrooms</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.bathrooms }}
						<label for="id_bathrooms">Bathrooms</label>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.balcony }}
						<label for="id_balcony">Balcony</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.year_built }}
						<label for="id_year_built">Year Build</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.available_from }}
						<label for="id_available_from">Available_From</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="md-form form-sm">
						{{ form.floor_no }}
						<label for="id_floor_no">Floor No</label>
					</div>
				</div>
			</div>
				<h3 class="my-3 font-weight-bold">Extra Facilities</h3>
				<div class="form-row">
					<div class="col-md-4">
						<div class="form-check">
							{{ form.telephone }}
							<label class="form-check-label" for="id_telephone">Telephone</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-check">
							{{ form.wifi }}
							<label class="form-check-label" for="id_wifi">Wifi</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-check">
							{{ form.parking }}
							<label class="form-check-label" for="id_parking">Parking</label>
						</div>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="col-md-4">
						<div class="form-check">
							{{ form.generator }}
							<label class="form-check-label" for="id_generator">Generator</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-check">
							{{ form.security }}
							<label class="form-check-label" for="id_security">Security</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-check">
							{{ form.lift }}
							<label class="form-check-label" for="id_lift">Lift</label>
						</div>
					</div>
				</div>
 				
				<button class="btn btn-info my-5" type="submit">Done <i class="fas fa-paper-plane ml-2"></i></button>
		</form>
	</div>
{% endblock %}

{% block script %}
	{% load static %}
	<script type="text/javascript">
		$('#available_from').calendar({
			type: 'date',
			monthFirst: false,
			formatter: {
				date: function (date, settings){
					if (!date) return '';
					var day = date.getDate();
					var month = date.getMonth() + 1;
					var year = date.getFullYear();
					return year + '-' + month + '-' + day;
				}
			}
		});
	</script>
{% endblock %}