{% extends 'base.html' %}

{% block title %}Tolet | {{ p.house_name }}{% endblock %}

{% block add-css %}
	.nav .nav-item .active{
		border-bottom: 2px solid #fff!important;
	}
{% endblock %}

{% block main %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<img src="{{ p.main_photo.url }}" alt="Property" class="img-fluid">
			</div>
		</div>
		<div class="row mt-3">
			{% if p.sub_photo_1 %}
				<div class="col-md-3">
					<img src="{{ p.sub_photo_1.url }}" alt="Property" class="img-fluid">
				</div>
			{% endif %}
			{% if p.sub_photo_2 %}
				<div class="col-md-3">
					<img src="{{ p.sub_photo_2.url }}" alt="Property" class="img-fluid">
				</div>
			{% endif %}
			{% if p.sub_photo_3 %}
				<div class="col-md-3">
					<img src="{{ p.sub_photo_3.url }}" alt="Property" class="img-fluid">
				</div>
			{% endif %}
			{% if p.sub_photo_4 %}
				<div class="col-md-3">
					<img src="{{ p.sub_photo_4.url }}" alt="Property" class="img-fluid">
				</div>
			{% endif %}
		</div>

		<div class="row mt-5">
			<div class="col-md-10">
				<h3 class="font-weight-bold text-info">{{ p.house_name }}</h3>
			</div>
			<div class="col-md-2">
				{% if p.is_available %}
					<p class="text-info font-weight-bold">Available</p>
				{% else %}
					<p class="text-danger font-weight-bold">Unavailable</p>
				{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<p class="font-weight-bold text-muted"><i class="fas fa-map-marker mr-2"></i>{{ p.location }}</p>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-12">
				<p>Type: <a href="{{ p.category.get_absolute_url }}">{{ p.category.name }} </a></p>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-md-3"><p>Property Id: {{ p.id }} </p></div>
			<div class="col-md-3"><p>Owner: {{ p.owner }} </p></div>
			<div class="col-md-3"><p>Phone: {{ p.phone }} </p></div>
			<div class="col-md-3"><p>Available From: {{ p.available_from | date:"d F, Y"}} </p></div>
		</div>

		<div class="row mt-3">
			<div class="col-md-3"><p>Price: {{ p.price }} </p></div>
			<div class="col-md-3"><p>Size: {{ p.size }} </p></div>
			<div class="col-md-3"><p>Floor: {{ p.floor_no }} </p></div>
			<div class="col-md-3"><p>Bedrooms: {{ p.bedrooms }} </p></div>
		</div>		

		<div class="row mt-3">
			<div class="col-md-3"><p>Bathrooms: {{ p.bathrooms }} </p></div>
			<div class="col-md-3"><p>Parking: {{ p.parking }} </p></div>
			<div class="col-md-3"><p>Balcony: {{ p.balcony }} </p></div>
			<div class="col-md-3"><p>Year Bulit: {{ p.year_built }} </p></div>
		</div>

		<ul class="nav teal my-5 p-2" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link text-white active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
		      aria-selected="true">Description</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link text-white " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
		      aria-selected="false">Conditions</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link text-white" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
		      aria-selected="false">Extra Facilites</a>
		  </li>
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			{% if p.description %}
				{{ p.description }}
			{% endif %}
		  </div>

		  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			{% if p.conditions %}
				{{ p.conditions }}
			{% endif %}
		  </div>

		  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
		  	<div class="row">
		  		<div class="col-4">
					{% if p.telephone %}
					<p><i class="fas fa-phone mr-2"></i> Telephone</p>
					{% endif %}
				</div>
		  		<div class="col-4">
					{% if p.wifi %}
					<p><i class="fas fa-wifi mr-2"></i> Wifi</p>
					{% endif %}
		  		</div>
		  		<div class="col-4">
					{% if p.parking %}
					<p><i class="fas fa-car-alt mr-2"></i> Parking</p>
					{% endif %}
		  		</div>
		  	</div>

		  	<div class="row mt-3">
		  		<div class="col-4">
					{% if p.security %}
					<p><i class="fas fa-ban mr-2"></i> Security</p>
					{% endif %}
				</div>
		  		<div class="col-4">
					{% if p.generator %}
					<p><i class="fas fa-power-off mr-2"></i> Generator</p>
					{% endif %}
		  		</div>
		  		<div class="col-4">
					{% if p.lift %}
					<p><i class="fas fa-angle-double-up mr-2"></i> Lift</p>
					{% endif %}
		  		</div>
		  	</div>
		  </div>
		</div>
	</div>
{% endblock %}

{% block script %}
{% endblock %}